@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}
body {
  overflow: hidden;
}
.displayNone {
  display: none;
}
.transparent {
  opacity: 0 !important;
}
main {
  background-color: white;
  height: 100vh;
  width: 100vw;
  font-size: 10px;
  overflow-x: hidden;
  overflow-y: scroll;
}

#scroller {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

main > img.blob {
  position: absolute;
  opacity: 0.3;
  /* filter: blur(5px); */
}

.parallax {
  animation-duration: var(--maxDelay);
  animation-delay: 0s;
  animation-play-state: paused;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.card.parallax:not(.ongoing, .card1) {
  display: none;
}

.card {
  /* TODO responsive desktop and mobile */
  width: 100vw;
  height: 100vh;
  padding: 2.5%;
  box-sizing: border-box;
  position: sticky;
  transition: opacity 1s;
}

/* CARD 1 */
.card1 {
  animation-name: card1Anim;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: rgba(0, 255, 0, 0.1); */
}
@keyframes card1Anim {
  0% {
    top: 0vh;
  }
  100% {
    top: -100vh;
  }
}
.profilPic {
  width: 300px;
}
#hand {
  font-size: 100px;
  animation-name: handAnim;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  transform-origin: 50% 100%;
}
@keyframes handAnim {
  0% {
    transform: none;
  }
  20% {
    transform: none;
  }
  25%, 45% {
    transform: rotate(-15deg);
  }
  35%, 55% {
    transform: rotate(+15deg);
  }
  60% {
    transform: none;
  }
}
.card1 h2 {
  font-size: 130px;
  font-family: 'Sacramento', cursive;
  margin-bottom: -30px;
}

/* CARD 2 */
.card2 {
  animation-name: card2Anim;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* background: red; */
  /* background: linear-gradient(to top, rgba(51, 51, 51, 0.4) 0%, rgba(255, 255, 255, 0) 100%); */
  /* -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px); */
}
@keyframes card2Anim {
  0% {
    top: 100vh;
    background-color: rgba(255, 255, 255, 0);
  }
  calc(1 * 100% / 7) {
    top: 0vh;
  }
  calc(1.5 * 100% / 7) {
    background-color: rgba(255, 255, 255, 0);
  }
  70% {
    background-color: rgba(61, 61, 61, 0.8);
  }
  calc(6 * 100% / 7) {
    top: 0vh;
  }
  100% {
    top: -100vh;
    background-color: rgba(61, 61, 61, 0.8);
  }
}

.pcWrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.pcWrapper > * {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0px);
}
.pc {
  animation-name: pcAnim;
}
@keyframes pcAnim {
  0% {
    transform: translate3d(-50%, -50%, 0px) scale(0.7);
  }
  100% {
    transform: translate3d(-50%, -50%, 0px) scale(1);
  }
}

.pcContent {
  animation-name: pcContentAnim;
}
@keyframes pcContentAnim {
  0% {
    opacity: 0;
    transform: translate3d(-50%, -50%, 0px) scale(4);
  }
  5% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translate3d(-50%, -50%, 0px) scale(1);
  }
}

.card2Title {
  position: absolute;
  font-family: sans-serif;
  font-size: 800px;
  white-space: nowrap;
  font-weight: 100;
  border-radius: 100px;
  padding: 3% 10%;
  color: #333;
  animation-name: card2TitleAnim;
}
@keyframes card2TitleAnim {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  5% {
    opacity: 1;
    transform: scale(1);
  }
  40% {
    background-color: rgba(255, 255, 255, 0);
  }
  50% {
    transform: scale(0.3);
  }
  59% {
    transform: scale(0.1);
    box-shadow: none;
  }
  60% {
    transform: scale(0.1);
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 20px 20px 50px #666;
  }
  100% {
    transform: scale(0.1);
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 20px 20px 50px #666;
  }
}
